
<div class="header">
  <div>Create News</div>
</div>
<div class="create-news">
  <div class="create-news-form">
    <div class="column">
      <mat-form-field class="mat">
        <input matInput placeholder="Heading" [(ngModel)]="title">
      </mat-form-field>
      <mat-form-field class="mat">
        <input matInput placeholder="Short description" [(ngModel)]="description">
      </mat-form-field>
      <mat-form-field class="mat">
        <textarea class="textarea" matInput placeholder="Textarea" [(ngModel)]="text"></textarea>
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field class="mat">
        <input matInput placeholder="Date" [(ngModel)]="date">
      </mat-form-field>
      <mat-form-field class="mat">
        <input matInput placeholder="Author" [(ngModel)]="author">
      </mat-form-field>
      <mat-form-field class="mat">
        <input matInput placeholder="Source URL" [(ngModel)]="url">
      </mat-form-field>
      <div class="buttons">
        <button class="btn" mat-button (click)="addNews()">Save</button>
        <button class="btn" mat-button routerLink="/" >Cancel</button>
      </div>
    </div>
  </div>
</div>
